---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>SCIRun Pages by SCIInstitute</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>SCIRun Pages</h1>
        <p>Web pages for SCIRun</p>
        <p class="view"><a href="https://github.com/SCIInstitute/SCIRun">View the Project on GitHub <small>SCIInstitute/SCIRun</small></a></p>
        <ul>
          <!-- <li><a href="https://github.com/SCIInstitute/seg3d.pages/zipball/master">Download <strong>ZIP File</strong></a></li> -->
          <!-- <li><a href="https://github.com/SCIInstitute/seg3d.pages/tarball/master">Download <strong>TAR Ball</strong></a></li> -->
          <li><a href="https://github.com/SCIInstitute/SCIRun">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
      <p>SCIRun (<a href="http://www.scirun.org">www.scirun.org</a>) is a problem solving environment developed by the NIH Center for Integrative Biomedical Computing at the University of Utah Scientific Computing and Imaging (SCI) Institute.</p>

     <p>SCIRun 5 is a complete rewrite of the GUI front end and graphical components of SCIRun 4, including a more stable and
efficient middle layer, with support for Python scripting.</p>

    <p><b>Warning! SCIRun 5 is alpha software, you may use for real science but beware of instability.</b></p>

        <ul>
        {% for page in site.pages %}
          {% if page.type == "info" %}
           <h3> <a href={{ page.url }}>{{ page.title }}</a> </h3>
          {% endif %}
        {% endfor %}
        </ul>
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/SCIInstitute">SCIInstitute</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
